!!!
%html
  %head
    %title Trânsito de São Paulo
    %link{:href => "/stylesheets/application.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    #content
      %h1
        %span Trânsito em São Paulo
        Quantos quilômetros temos de lentidão ?
      %h2= @lentidao 
    
      %p 
        Desenvolvido por 
        %a{ :href => 'http://twitter.com/rlmflores'} Rodrigo Flores 
        e 
        %a{ :href => 'http://twitter.com/lucasmazza' } Lucas Mazza
        \.
      %p
        Aguardamos ansiosamente pela doação de um HTML decente.
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18105749-1']);
    _gaq.push(['_trackPageview']);
      
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
      
      

    