!!!
%html
  %head
    %title Trânsito!
    %link{:href => "/stylesheets/application.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    Quantos quilômetros temos de lentidão ?
    %p= @lentidao 
    
    
    %p 
      Desenvolvido por 
      %a{ :href => 'http://twitter.com/rlmflores'} 
        Rodrigo Flores 
      e 
      %a{ :href => 'http://twitter.com/lucasmazza' }
        Lucas Mazza
      \. 
      %br
      Aguardamos ansiosamente pela doação de um HTML decente.
    