 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background: transparent;}body{line-height:1;}ol,ul{list-style: none;}blockquote,q{quotes: none;}blockquote:before,blockquote:after,q:before,q:after{content: '';content: none;}:focus{outline:0;}ins{text-decoration: none;}del{text-decoration: line-through;}table{border-collapse:collapse;border-spacing:0;}

header, section, footer{
  display:block
}

body {
  font: normal 12px/13px Helvetica, sans-serif;
  color:#222;
  background-color:#E3E3E3;
}

/* Here it goes */
a { color:#C03030; }

header {
  padding:20px;
  font-size:16px;
}

h1 { font-size:18px; }

h1, h2 {
  text-shadow:2px 2px #CCC;
}

header h1{
  font-size: 20px;
  color:#990000;
}
#content{
  padding:0 20px
}
#content h1{
  display:block;
  padding: 20px 0;
}
#content p{
  float:left;
  font-weight:bold;
  font-size:60px;
}

footer{
  clear:both;
  padding:20px;
}
footer a img{
  display:none
}

.red { color:red; }
.yellow { color:yellow; }
.green { color:green; }

p { font-size:10px;line-height:18px }
p a { padding:1px 2px; }



#regioes { margin-top:20px; }
#regioes li {
	display:block;
	width:80px;
	margin:10px 10px;
	float:left;
	text-align:center;
	border:1px solid #000;
	-moz-border-radius:9px;
	background:#FFF url(/images/gradient.png) repeat-x 0 10px;
}

#regioes strong {
	color:#E9FCCC;
	font-size:30px;
}

#regioes li.norte {
	margin-left:0px;
	border-color:#65758F;
	background:-webkit-gradient(linear, left top, left bottom, from(#65758F), to(#929EB0));
}

#regioes li.leste {
	border-color:#82618F;
	background:-webkit-gradient(linear, left top, left bottom, from(#82618F), to(#AA94B3));
}
#regioes li.centro {
	border-color:#A85777;
	background:-webkit-gradient(linear, left top, left bottom, from(#A85777), to(#C28AA0));
}
#regioes li.oeste {
	border-color:#72895F;
	background:-webkit-gradient(linear, left top, left bottom, from(#72895F), to(#9FAF93));
}
#regioes li.sul {
	border-color:#9A7A63;
	background:-webkit-gradient(linear, left top, left bottom, from(#9A7A63), to(#BAA595));
}